.home-page-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 6px;
  font-size: 2rem;
}
.open-clouds-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100vw;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
  animation: open-clouds-container 0.5s 1s forwards;
  margin-top: 40vh;
}
@keyframes open-clouds-container {
  to {
    z-index: 1;
  }
}
.cloudman-header-container{
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  top: 20px;
}
.cloudman-header{
  background-color: white;
  font-size: 4rem; 
  padding: 1vw;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 10px;
  background-blend-mode: lighten;
  box-shadow: 8px 8px ;
  border: 1px black solid;
  animation: cloudman-header 1s 1s forwards;
}
@keyframes cloudman-header {
  to {
    font-size: 1.5rem;
  }
}
.open-cloud-1-container
,.open-cloud-2-container{
  background: none;
  margin-left: -20vw;
  overflow: visible;
}
.open-cloud-2
,.open-cloud-1{
  height: 140vh;
}
.open-cloud-1-container{
  margin-left: 30vw;
  margin-right: -30vw;
  animation: open-cloud-1 1.5s 1s forwards;
}
@keyframes open-cloud-1 {
 
  to {
    margin-right: 100vw;
    margin-left: 0vw;
  }
}
.open-cloud-2-container{
  margin-right: 20vw;
  margin-left: -20vw;
  animation: open-cloud-2 1.5s 1s forwards;
}
@keyframes open-cloud-2 {
  to {
    margin-left: 100vw;
    margin-right: 0vw;
  }
}
.content-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  position: relative;
  height: 70vh;
  width: 100vw;
  gap: 10vw;
  z-index: 2;
  animation: content-container 1.5s 1s forwards;
}
@keyframes content-container{
  to{
    opacity: 100;
  }
}
.sentence-input-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.sentence-container{
  width: 40vw;
}
.sentence{
  font-weight: 900;
  font-size: 1.5em;
}
.form{
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 1em;
}
.input-form-button-container{
  display: flex;
  gap: 10px;
}
.input{
  width: 7em;
  border-radius: 4px;
  border: 2px black solid;
  font-size: 1em;
}
.form-button{
  width: 3em;
  border-radius: 5px;
  background-color: rgb(186, 227, 255);
  border: none;
  box-shadow: 2px 2px;
  font-weight: 600;
  font-size: large;
}
.form-button:hover{
  margin-top: 1px;
  box-shadow: 1px 1px;
}
.weather-info-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
}
.weather-info{
  display: flex;
  flex-direction: column;
  background-color: rgb(186, 227, 255);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  box-shadow: 4px 4px;
  justify-content: space-between;
  padding: 20px;
}
.location-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.name{
  font-weight: 900;
  font-size: 1.5em;
  margin-bottom:0 ;
}
.country-image-container{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2%;
}
.country{
  font-size: 0.7em;
  margin-top: 0;
}
.image{
  width: 30px;
  height: 30px;
}
.degrees-container{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 3em;
  font-weight: 900;
  margin-left: 10px;
}
.degrees{
  margin: 0;
}
.other-weather-details{
  display: flex;
  justify-content: center;
  text-align: center;
  gap:10%;
  font-weight: 700;
  font-size: 0.7em;
}
.mr-cloud-container{
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 4px;
}
.mr-cloud{
  width: 110px;
}
.mr-cloud:hover{
  width: 100px;
  transition: 0.2s;
  margin-right: 10px;
  
}
.mr-cloud-sentence{
  width: fit-content;
  font-size: 0.7em;
  font-weight: 700;
}